.product-add {
  max-width: 100rem;
}
.add-serch-product {
  text-align: end;
  margin-bottom: 3.2rem;
}

.text-box-search {
  height: 3.2rem;
  font-size: 1.6rem;
  padding: 5px;
  font-family: inherit;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  border-radius: 3px;
}
.label {
  gap: 6.5rem;
  /* margin-bottom: 2.4rem; */
}
.table {
  margin-bottom: 2.8rem;
}
.table-label {
  font-size: 1.6rem;
  font-weight: 500;
}
.table-label:first-child {
  margin-left: 3rem;
}

.iteam {
  padding: 2.4rem 0;
}

.label-top {
  padding: 2.4rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.div-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.buttons-outline {
  display: flex;
  gap: 1.2rem;
}
.btn-outline {
  height: 30px;
  width: 80px;
  font-size: 1.6rem;
  font-weight: 500;
}
.green {
  color: #80bf32;
  border: 1px solid #80bf32 !important;
  border-radius: 3px;
}
.green:hover {
  color: white;
  background-color: #80bf32;
}

.red {
  color: #f14d54;
  border: 1px solid #f14d54 !important;
  border-radius: 3px;
}
.red:hover {
  color: white;
  background-color: #f14d54;
}
.drop-down {
  justify-content: flex-end;
  align-items: center;
}
.left-right {
  gap: 1.2rem;
  margin-right: 1.2rem;
}
.btn-active {
  font-size: 2.2rem;
  font-weight: 900 !important;
}

.select-row {
  margin-right: 2.2rem;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  width: 35px;
  height: 35px;
}

.text-rows{
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 2.2rem;
}