{% block 'content' %}




<main>
            <div class="product-cards container grid grid-5-col">
                <!-- Col - 1 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 2 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 3 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 4 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 5 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 1 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 2 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 3 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 4 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
                <!-- Col - 5 -->
                <div class="product-card">
                    <img src="{% static 'img/black.jpg' %}" class="product-image" alt="">
                    <div class="product-info">
                        <h3 class="product-title">Product-title</h3>
                        <p class="product-tag">Lorem</p>
                        <p class="product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquam
                            culpa
                            consectetur eaque unde eveniet consequatur, eos ipsa </p>
                        <p class="price">
                            <span class="mrp">Mrp</span>
                            <del class="price-main">&#8377;1000</del>
                            <span class="discount">20.00% OFF</span>
                        </p>
                        <p class="price-secondory">&#8377;800</p>
                        <button class="btn btn-site product-listing-btn">Add to cart</button>
                    </div>
                </div>
            </div>
        </main>



{% endblock %}
